apiVersion: v1
kind: Pod
metadata:
  name: k8s-debug
  namespace: k8s-debug
  labels:
    app: k8s-debug
spec:
  containers:
    - name: k8s-debug
      image: quay.io/filiphavlicek/k8s-debug:root
      env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP